/* Resetar a pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css uso por TAG */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3A3091;
    color: aqua;
} 

main{
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

h1{
    font-size: 32px;
    margin-bottom: 10px;  
}

p{
    line-height: 1.5;
}

/* Css uso por ID */
#cabecalho{
    background-color: #1d3ed8;
    color: white;
    text-align: center;
    padding: 40px 20px;
}